body {
  background: #fcfcfa;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.hidden { 
  display: none; 
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

#screen {
  z-index: 999;
  /* disables mousevents for this element*/
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: 0;
}

.rel-pos {
  position: relative;
}

#worldmap {
  position: absolute;
  top: 0;
  left: 0;
}

#speed-wrapper {
  position: absolute;
  right: 13px;
  top: 101px;
  width: 288px;
  z-index: 99999;
  font: 11px BlinkMacSystemFont;
}

#speed-wrapper label{
  position: relative;
  top: -4px;
  color: red;
}

#slider {
  margin-left: 5em;  
}

.chart {
  position: relative;
  z-index: 100;
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

#controller {
  position: absolute;
  width: 300px;
  top: 40px;
  right: 30px;
  background-color: white;
  z-index: 1000;
  border: 1px solid black;
}












